body{
  margin: 0;
  font-family: "Arial",sans-serif;
  background-color: white;
}
header {
  background-color: #555555;
  color: black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
logo {
  font-weight: bold;
  margin-bottom: auto;
}
.content {
  width: 50%;
  padding: 50px;
}
.left {
  width: 25%;
  background: #eee;
  padding: 10px;
}

.right {
  width: 75%;
  padding: 10px;
}

.footer {
  background: #222;
  color: red;
  text-align: center;
  padding: 30px;
}
